<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{blocks/base_head :: baseHead(~{::title})}">
    <title>Фильм: </title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="~{blocks/header :: header}"></header>
    <div class="container my-4">
        <div th:object="${film}">
            <div class="row mb-3">
                <div class="col-2">
                    <div class="mb-3">
                        <img th:src="@{/files/{fileId}(fileId=*{fileId})}" class="w-100" alt="No image">
                    </div>
                </div>
                <div class="col-4">
                    <div class="mx-1 container">
                        <div class="row">
                            <h3 th:text="*{name}"></h3>
                        </div>
                        <div class="my-1 row">
                            <span class="font-weight-bold">Год:&nbsp;</span>
                            <span th:text="*{year}"/></span>
                        </div>
                        <div class="row">
                            <span class="font-weight-bold">Жанр:&nbsp;</span>
                            <span th:text="${genres[__${film.genreId - 1}__].name}"></span>
                        </div>
                        <div class="row">
                            <span class="font-weight-bold">Ограничение по возрасту:&nbsp;</span>
                            <span th:text="*{minimalAge}"/></span>
                        </div>
                        <div class="row">
                            <span class="font-weight-bold">Продолжительность:&nbsp;</span>
                            <span th:text="${(film.durationInMinutes / 60) + ':' + (film.durationInMinutes % 60) + ':00'}"/></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <blockquote class="blockquote">
                    <p class="mb-0 text-justify" th:text="*{description}"></p>
                </blockquote>
            </div>
        </div>
    </div>
    <footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>